#site-copyright,
.footer-inside {
  color: $color-black;

  .link {
    color: $c-yellow;
    font-weight: bold;
  }
}

@include media-breakpoint-up(xs) {
  .footer-logo {
    display: flex;
    margin: auto;
    padding-bottom: 50px;
  }
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(xl) {
  .footer-logo {
    display: block;
    text-align: left;
    margin: inherit;
  }
}

@include media-breakpoint-up(xxl) {
}
