#site-title {
  span {
    a {
      text-decoration: underline;
      font-family: $ff-goldplay;

      &:before {
        width: 0;
      }
    }
  }
}

#access {
  float: right !important;
}

#top-nav {
  padding: 0;
  margin: 0;

  .menu-item {
    a {
      font-size: 1.1em;
      color: $color-black !important;
      text-transform: uppercase;
      font-weight: 900 !important;
      padding: 0 24px;
    }
  }
}

.header-image {
  opacity: 0 !important;
}

#header-overlay {
  background: $color-white !important;
}

#header-page-title .entry-title {
  color: $color-black !important;
  // margin-bottom: -75px;
}

.menu-item-has-children {
  cursor: default !important;
  text-decoration: none !important;
}

@include media-breakpoint-up(sm) {
  #site-title {
    a {
      font-size: 0.8em !important;
    }
  }

  #top-nav {
    display: none;
  }
}

nav#mobile-menu {
  padding-top: 0 !important;
}

nav#mobile-menu #mobile-nav {
  text-align: center;
  margin-top: 30px;

  a span {
    font-size: 2em;
    font-family: $ff-goldplay;
  }
}
.toggled-on {
  color: $color-black;
  border-bottom: none !important;
}

.menu-item-has-children {
  a {
    text-decoration: none !important;

    &:hover {
      color: $color-white;
    }
  }

  .sub-menu {
    margin-bottom: 16px;
    text-align: left;
    padding-left: 20%;

    a {
      span {
        font-size: 1.6em !important;
      }
    }

    li {
      margin-bottom: 12px !important;
      margin-left: 30px;
    }
  }
}

.burgermenu-active {
  .dropdown-toggle {
    &:after {
      content: "" !important;
      font-size: 2em;
      margin: 16px 40px;
    }
  }
}

.searchform {
  display: none !important;
}

@include media-breakpoint-up(sm) {
  nav#mobile-menu #mobile-nav a {
    font-size: 1.4em;
    font-family: $ff-goldplay;
  }
  
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(xl) {
  #top-nav {
    display: block;
  }

  .sub-menu {
    a {
      background-color: $color-white !important;
    }
  }
}

@include media-breakpoint-up(xxl) {
}
