.menu-burger {
  .hamburger {
    span {
      background-color: $color-black !important;
    }
  }
}
#access {
  float: right !important;
}

#top-nav {
  padding: 0;
  margin: 0;

  .menu-item {
    a {
      font-size: 1.1em;
      color: $color-black !important;
      text-transform: uppercase;
      font-weight: 600 !important;
      padding: 0 24px;
    }
  }
}

.header-image {
  opacity: 0 !important;
}

#header-overlay {
  background: $color-white !important;
}

#header-page-title .entry-title {
  color: $color-black !important;
  // margin-bottom: -75px;
}

.menu-item-has-children {
  cursor: default !important;
  text-decoration: none !important;
}

#header-image-main-inside,
#header-page-title,
.ripple {
  display: none;
}

@include media-breakpoint-up(sm) {
  #site-title {
    a {
      font-size: 0.8em !important;
    }
  }

  #top-nav {
    display: none;
  }
}

nav#mobile-menu {
  padding-top: 0 !important;
}

nav#mobile-menu #mobile-nav {
  text-align: center;
  margin-top: 30px;

  a span {
    font-size: 2em;
    font-family: $ff-goldplay;
  }
}
.toggled-on {
  color: $color-black;
  border-bottom: none !important;
}

.menu-item-has-children {
  a {
    text-decoration: none !important;

    &:hover {
      color: $color-white;
    }
  }

  .sub-menu {
    margin-top: 2px;
    text-align: center;
    padding-left: 0;

    li {
      margin-bottom: 10px !important;
      margin-left: 30px;
    }
  }
}

.burgermenu-active {
  .dropdown-toggle {
    &:after {
      content: "" !important;
      font-size: 1.5em;
      margin: 16px 10px;
    }

    &.toggle-on {
      &:after {
        margin: 5px 10px;
      }
    }
  }
}

.searchform {
  display: none !important;
}

@include media-breakpoint-up(xs) {
  #mobile-menu {
    .dropdown-toggle {
    }
  }
  nav#mobile-menu #mobile-nav a {
    font-size: 1.2em;
  }
}

@include media-breakpoint-up(sm) {
  nav#mobile-menu #mobile-nav a {
    font-size: 1.4em;
  }
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(lg) {
  .menu-item-has-children {
    .sub-menu {
      li {
        margin-bottom: 0 !important;
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  #top-nav {
    display: block;
  }

  .sub-menu {
    margin-top: 20px;

    li {
      margin-bottom: 0 !important;
      a {
        background-color: $color-white !important;
        span {
          font-size: 1.1em !important;
        }
      }
    }
  }

  nav#mobile-menu #mobile-nav a {
    font-size: 1.6em;
    font-family: $ff-goldplay;
  }
}

@include media-breakpoint-up(xxl) {
}
