.title-section {
  font-family: $ff-goldplay;
  font-weight: 300;
}

.title-content {
  font-size: 3.4em;
  margin-bottom: 50px;
  font-family: $ff-goldplay;
  margin-top: 50px;
  font-weight: 300;
}

.entry-title {
  font-size: 3em !important;
  font-family: $ff-goldplay;
  font-weight: 300;
  margin-bottom: 0;
  padding-bottom: 0;
}

#header-page-title {
  justify-content: inherit;
  height: auto;

  #header-page-title-inside {
    padding: 0 !important;
    margin-top: 130px;
  }
}

#site-title {
  span {
    a {
      text-decoration: underline;
      font-family: $ff-goldplay;

      &:before {
        width: 0;
      }
    }
  }
}


@include media-breakpoint-up(xs) {
  .title-section {
    font-size: 2rem;
  }
}

@include media-breakpoint-up(sm) {
  .title-section {
    font-size: 3rem;
  }
}


@include media-breakpoint-up(lg) {
  .title-section {
    font-size: 3.5rem;
  }
}

@include media-breakpoint-up(xl) {
  .title-section {
    font-size: 4.2rem;
    margin-bottom: 50px;
  }
}
